.img-advice {
    
    background: linear-gradient(rgba(2,2,2,0.5) ,rgba(2,2,2,0.5)) ,url(../../assets/advices.jpg) center no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
    position: relative;
    
  }
  
 .cont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #128090d6 ;
    padding: 3rem;
    color: #f1f1f1;
    width: 650px;
 }
 .cont span {
    font-size: 25px;
    padding-bottom: 25px;
    display: block;

 } 
 .cont h3 {
    font-size: 35px;
    padding-bottom: 30px;
 }
 .main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.main .text {
    background-color: var(--w-color);
    height: 323px;
    padding: 35px 70px;
    width: 50%;
}
.main .pgimg {
    width: 59%;
    height: 393px;
    
}
.main img {
    max-width: 100%;
    min-height: 100%;
    background-size: cover;
    object-fit: cover;
    
}
.main .text h3 {
    font-size: 30px;
    margin: 30px 0px ;
  
}
.main .text p {
    padding: 25px 0px;
    font-size: 20px;
    line-height: 1.5;
}
@media (max-width: 768px) {
    .main {
        display: grid;
        justify-content: center;
        gap: 20px;
    }
    .main .pgimg { 
        width: 100%;
    }
    .main .text {
        width: 77%;
    }
    .main img {
        max-width: 100%;
    }
}
@media (min-width: 768px) and (max-width:1200px) {
    .main .text h3 {
        margin: 0;
    }
    .main .text p {
        line-height: 1.1;
    }
    .main .text h3 {
        font-size: 25px;
    }

}


