/* start carsoul */
.gZZBOx {
    display: none !important;
}

/* end carsoul */
.jRFJkP {
    background-color: var(--main-color) !important;
}

.jRFJkP:hover {
    background-color: var(--hover-color) !important;
}



.header_slide {
    margin: 2rem 3rem;
    padding: 1rem 0;
    color: var(--main-color);
    width: 280px;
}

.header_slide:hover {
    color: var(--hover-color);
}

.parent_slide {
    padding: 6rem 0rem;
}

.box_slide {
    margin: 0 0.2rem;
    min-height: 400px;
    box-shadow: 2px 4px 6px rgb(221, 221, 221);
    overflow: hidden;
    border-radius: 2rem 2rem 0 0;
    -webkit-border-radius: 2rem 2rem 0 0;
    -moz-border-radius: 2rem 2rem 0 0;
    -ms-border-radius: 2rem 2rem 0 0;
    -o-border-radius: 2rem 2rem 0 0;
}

.box_slide .image_slide {
    position: relative;
}

.box_slide .image_slide img {
    width: 100%;
    height: 100%;
}

.box_slide .list {
    position: absolute;
    top: 0;
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    align-items: center;
    display: flex;
    transition: all 0.5s ease-in;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.747);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.box_slide:hover .list {
    height: 100%;
    opacity: 1;
}

.box_slide .list ul li {
    padding: 0.4rem;
}

.box_slide h2 {
    padding: 1.5rem 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

/* start slide Up */
.slide-top {
    background: linear-gradient(rgba(2, 2, 2, 0.1), rgba(2, 2, 2, 0.1)), url('../../assets/running\ cover.jpg') no-repeat center;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slide-top .content {
    background-color: var(--hover-color);
    max-width: 600px;
    padding: 2rem;
    color: #f1f1f1;
}

.slide-top .content span {
    font-weight: bold;
    font-size: 1.2rem;
}

.slide-top .content h3.header {
    padding: 0.5rem 0 1rem;
    font-size: 2.5rem;
}

.slide-top .content p {
    font-size: 1rem;
    line-height: 1.7;
}

/* end slide Up */
/* start footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 0.8rem;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin: 0.2rem 0.8rem;
    cursor: pointer;
}

.footer ul li i {
    font-size: 2rem;
}

.footer ul li i:hover {
    color: var(--hover-color);
}

.footer p {
    margin: 0.6rem 0;
}